{% extends 'baseTemplate.html' %}
    {% block title %}
        Home
    {% endblock %}

    {% block link_queries %}
        queryResult.html
    {% endblock %}

    {% block link_records %}
        recordsManagement.html
    {% endblock %}

    {% block link_rankings %}
        rankings.html
    {% endblock %}

    {% block title_page %}
        <br>
        <h1 align="center" style="color: gold;"><big>Welcome to Al Netek!</big></h1><br><br>
    {% endblock %}

    {% block page_content %}
        <div style="text-align: center">
        <img align="center" src="https://thumbs.dreamstime.com/b/vieille-tv-t%C3%A9l%C3%A9vision-jaune-2473329.jpg"
            alt="television" style="width:700px;height:400px;">
        </div>
    {% endblock %}